<h2>New group</h2>

<% form_for(@group) do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "group", :locals => { :editable => true } %>

    <div class="buttonPanel">
        <%= f.submit 'Create' %>
        <%= link_to 'Back', groups_path %>
    </div>
<% end %>