<h1>New group</h1>

<% form_for(@group) do |f| %>
    <%= f.error_messages %>
    <%= render "group" %>

    <div class="buttonPanel">
        <%= f.submit 'Create' %>
        <%= link_to 'Back', groups_path %>
    </div>
<% end %>