<h2>Showing Group</h2>

<%= render :partial => "group", :locals => { :editable => false } %>

<div class="buttonPanel">
  <%= link_to 'Edit', edit_group_path(@group) %>
  <%= link_to 'Back', groups_path %>
</div>

<h2>Listing Users</h2>

<table>
  <tr>
    <th>User Name</th>
    <th>Action</th>
  </tr>

<% @group.all_users.each do |user_group| %>
  <tr>
    <td><%= user_group.username %></td>
    <td></td>
  </tr>
<% end %>
</table>